:root {
  --bg-primary: #101418;
  --bg-secondary: #0b0f15;
  --border-color: #1e2731;
}

html, body {
  margin: 0;
  padding: 0;
  background: var(--bg-primary);
  height: 100%;
  overflow: hidden;
}

#root {
  height: 100%;
}